.selected-flag
{
    display: flex;
    justify-content: center;
}

.arrow
{
    display: none;
}

.react-tel-input .flag-dropdown
{
   border-radius: 0%;
   border: 0;
}

.react-tel-input .flag-dropdown.open
{
    border-radius: 0%;
    border: 0;
}

.react-tel-input .selected-flag
{
    padding: 0%;
    background-color: white;
}

.react-tel-input .form-control 
{
    height: 3.5rem;
    width: 29.5rem;
    border: 1px solid #949495;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 10px;
    font-size: 16px;
    
}

.react-tel-input .form-control:focus {
    border: 1px solid #0597F2;
}

.react-tel-input
{
z-index: 0;
   
}

.react-tel-input .flag-dropdown
{
    margin: 10px;
}

.react-tel-input .flag-dropdown.open .selected-flag
{
    border: none;
}
