#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Cairo', sans-serif;
}

html {
  direction: rtl;
  background-color: #FDFDFF;
}

section::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar {
  display: none;
}

#scrollbar::-webkit-scrollbar {
  width: 3px;
  padding: 3px;
}

#scrollbar::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 5px;
  
}

input[type="password"] {
  font-family: Verdana;
}